.users {
  /* position: absolute; */
  height: 472px;
  width: 328px;
  left: 25%;
  right: 51.67%;
  top: 168px;
  margin-left: 16px;

  position: absolute;
  background: #ffffff;
  /* Components / Border color */

  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
}

.title {
  position: absolute;
  height: 32px;
  left: 32px;
  right: 32px;
  top: 32px;
}

.title h1 {
  position: absolute;
  width: 68px;
  height: 32px;
  left: 0px;
  top: calc(50% - 32px / 2);

  /* 24 sp • H5 / Montserrat */

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 132%;
  /* identical to box height, or 32px */

  display: flex;
  align-items: center;

  /* Dark */

  color: #333333;
}

.title-image {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 0px;
  top: calc(50% - 32px / 2);
  border: 1px solid #e5e5e5;
  border-radius: 15%;
}

.title-image img {
  position: absolute;
  width: 16px;
  height: 16px;
  left: calc(50% - 16px / 2);
  top: calc(50% - 16px / 2);

  /* position: absolute; */
  /* left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  /* Components / Border color */
  /* border: 1px solid #e5e5e5; */
  box-sizing: border-box;
  border-radius: 4px;
}

.pie-chart {
  position: absolute;
  width: 256px;
  height: 256px;
  left: calc(50% - 256px / 2);
  top: 96px;
}

.item1 {
  position: absolute;
  width: 71px;
  height: 16px;
  left: calc(50% - 71px / 2 - 86.5px);
  bottom: 48px;
}

.item1 img {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  top: calc(50% - 8px / 2);
  border-radius: 50%;

  /* Blue / 700 */

  background: #5c8f94;
}

.item1 p {
  position: absolute;
  width: 50px;
  height: 16px;
  left: 18px;
  top: calc(50% - 16px / 2);

  /* Caption / Montserrat */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  /* Components / Caption color (grey) */

  color: #9c9c9c;
}

.item2 {
  position: absolute;
  width: 71px;
  height: 16px;
  left: calc(50% - 71px / 2 + 0.5px);
  bottom: 48px;
}

.item2 img {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  top: calc(50% - 8px / 2);
  border-radius: 50%;

  /* Orange / 300 */

  background: #eba45e;
}

.item2 p {
  position: absolute;
  width: 50px;
  height: 16px;
  left: 18px;
  top: calc(50% - 16px / 2);

  /* Caption / Montserrat */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  /* Components / Caption color (grey) */

  color: #9c9c9c;
}

.item3 {
  position: absolute;
  width: 71px;
  height: 16px;
  left: calc(50% - 71px / 2 + 87.5px);
  bottom: 48px;
}

.item3 img {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  top: calc(50% - 8px / 2);
  border-radius: 50%;

  /* Violet / 600 */

  background: #725e9c;
}

.item3 p {
  position: absolute;
  width: 50px;
  height: 16px;
  left: 18px;
  top: calc(50% - 16px / 2);

  /* Caption / Montserrat */

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  /* Components / Caption color (grey) */

  color: #9c9c9c;
}
